* {
    font-size : 18px;
    /*border: 1px solid black;*/
}

body {
    background-color : #f1f1ef;
}

.main-color {
    background-color : #ff6633;
}

.video {
    margin        : 5px;
    width         : 700px;
    height        : 450px;
    border-radius : 5px;
}

.card {
    width         : 18em;
    margin        : 15px;
    border-radius : 10px;
}

.card-img-top {
    width         : 250px;
    border-radius : 10px;
    margin        : 5px;
}

.navbar {
    border-style  : none;
    border-radius : 5px;
}

.container-fluid {
    display         : flex;
    padding         : 0 50px;
    justify-content : center;
}

.navbar-brand {
    padding : 0 15px;
}

.navbar-brand:hover {
    color            : #ff6633 !important;
    background-color : white;
    border-radius    : 50px;
}

.nav-item {
    padding : 0 15px;
}

.nav-link:hover {
    color            : #ff6633 !important;
    background-color : white;
    border-radius    : 50px;
}

.img-linkedin {
    width : 35px;
}

.title {
    padding-top : 50px;
}

.demo {
    background-color : white;
}

.line {
    margin-left   : 120px;
    width         : 112px;
    border-bottom : 1px solid black;
    position      : absolute;
}

.presentation {
    margin      : 10px 50px;
    line-height : 40px;
}

.line-center {
    margin-left   : 35%;
    width         : 400px;
    border-bottom : 1px solid black;
    position      : absolute;
}