<div class="chat_module">
  <mat-card class="chat">
    <mat-card-title>
      Chat
    </mat-card-title>

    <mat-card-content id="chat_messages">
      <div class="message" *ngFor="let message of messages">
        <h4>{{message.sender}}</h4>
        <p>{{message.text}}</p>
      </div>
    </mat-card-content>


    <mat-form-field>
      <label>
        <textarea matInput [(ngModel)]="message.text" (keypress)="chatAreaKeyPress($event)"></textarea>
      </label>
    </mat-form-field>
  </mat-card>
</div>


