.container {
    background: #FAFAFA;
    color: #333;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: auto !important;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility; /* Priviligie la lisibilité du text lors de changement d'écran.*/
    width: 100%;
    position: absolute;
    margin:0;
    overflow-y: scroll;
    z-index: -10;
}

.container-to-do-list {
   display: flex;
   flex-direction: row;
}
    .todolist {
 
        flex-basis: 50%;
        height: 300px;
        margin-top: 2%;
        margin-left: 2%;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-y: scroll;
        z-index: -1;
    }
        .todolist > ul {
            padding: 0;
        }
            .todolist > ul > li {
                display: flex;
                padding: 2%;
                margin-bottom: 2%;
                flex-direction: row;
                flex-wrap: wrap;
                text-align: center;
                text-align: -moz-center;
            }
            .todolist > ul > li > label {
                margin-right: 2%;
            }

    .human-meteo {
        flex-basis: 35%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;

    }
        .human {
            flex-basis: 48%;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
            background-color: white;
            height: 100px;
            margin-bottom: 2%;
            border-radius: 4px;
        }
            .human > ul {
                list-style-type: none;
                padding: 0;
            }
                .human > ul > li  {
                    text-align: center;
                    text-align: -moz-center;
                    font-size: 10px;

                }
                .progressbar {
                    width: 60%;
                }


                
        .meteo {
            flex-basis: 50%;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
            background-color: white;
            height: 100px;
            border-radius: 4px;
            text-align: center;
            text-align: -moz-center;
        }
        .meteo > h2 {
            margin-top: 2%;
        }
        .meteo > p {
            font-size: 46px;
            margin-top: 10%;
        }
        





.button-maps {
    position: absolute;
    top: 2%;
    right: 0%;
    width: 27%;
    padding: 2%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 600;
    border: none;
}
.button-maps:hover {
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
}

.button-modal-alert {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    background-color: #FF6633;
}
.button-modal-alert {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}
.button-modal-alert:hover {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}
    .button-modal-alert > img {
        width: 60%;
    }

.container-alert-modal {
    height: auto !important;
    height: 100%;
    max-height: 200%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    overflow: hidden;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}

.card-head {
    height: 40px;
    background-color: #FFFFFF;
    border-bottom: solid 1px rgba(0,0,0,0.4);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    border: none;
}
.close:hover,
.close:focus {
    color: #0009;
    text-decoration: none;
    cursor: pointer;
}
.card-modal {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.1);
    height: 200px;
    width: 60%;
    border-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: auto;
    margin-top: 50%;
}
.info {
    width: 60%;
    background-color: rgb(16, 128, 16);
    color: white;
    font-weight: 800;
    margin-left: 20%;
    margin-top: 15%;
}
.alert {
    width: 60%;
    background-color: rgb(252, 185, 0);
    color: white;
    font-weight: 800;
    margin-left: 20%;
    margin-top: 2%;
}
.danger {
    width: 60%;
    background-color: rgb(196, 24, 24);
    color: white;
    font-weight: 800;
    margin-left: 20%;
    margin-top: 2%;
}

/*PAYSAGE*/
@media only screen and (max-width : 768px) and (orientation: landscape){
    .card-modal {
        margin-top: 15%;
    }
    .info {
        margin-top: 10%;
    }
}

.example-margin {
    margin: 0 10px;
  }

.card-chat {
    height: auto;
}

/*PAYSAGE*/
@media only screen and (max-width : 768px) and (orientation: portrait){
    .container-to-do-list {
        flex-wrap: wrap;
    }
    .todolist {
        height: 200px;
        margin-top: 15%;
        margin-left: 10%;
        flex-basis: 80%;
        z-index: -1;
    }

    .human-meteo {
        margin-top: 5%;
        flex-basis: 80%;
        margin-left: 10%;
        margin-bottom:5%;
    }

    .button-modal-alert {
        position: sticky;
        bottom: 0.5%;
        left: 0.5%;
    }
}