.app-station-missions {
  display: flex;
  height: 95vh;
  width: 98vw;
  background-color: #fff irefafa;
  justify-content: space-between;
  margin: auto;
  margin-top: 1vh;
}
.app-station-missions mat-card {
  height: 95%;
}
.app-station-missions .left {
  flex-basis: 24%;
  height: 100%;
}
.app-station-missions .right {
  flex-basis: 74%;
}
.app-station-missions .right .container-map {
  width: 100%;
  height: 100%;
}
.app-station-missions .right .container-map agm-map {
  width: 100%;
  height: 100%;
  z-index: -1;
}
