.app-station-missions
  display flex
  height 95vh
  width 98vw
  background-color #firefafa
  justify-content space-between
  margin auto
  margin-top 1vh

  mat-card
    height 95%

  .left
    flex-basis 24%
    height 100%


  .right
    flex-basis 74%

    .container-map
      width 100%
      height 100%

      agm-map
        width: 100%;
        height: 100%;
        z-index: -1;



