.dashboard_station {
  display: flex;
  height: 95vh;
  width: 98vw;
  background-color: #fff irefafa;
  justify-content: space-between;
  margin: auto;
  margin-top: 1vh;
}
.dashboard_station .left {
  flex-basis: 74%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard_station .left mat-card-content {
  height: 30%;
}
.dashboard_station .right {
  flex-basis: 24%;
  display: flex;
  flex-direction: column;
}
.dashboard_station .right .chat {
  height: 60vh;
}
.dashboard_station .right .chat mat-card-content {
  height: 80%;
  overflow-y: auto;
}
.dashboard_station .right .chat mat-card-content div {
  margin-bottom: 10px;
}
.dashboard_station .right .chat mat-form-field {
  width: 100%;
}
