.dashboard_station
  display flex
  height 95vh
  width 98vw
  background-color #firefafa
  justify-content space-between
  margin auto
  margin-top 1vh

  .left
    flex-basis 74%
    height 100%

    display flex
    flex-direction column

    mat-card-content
      height 30%

  .right
    flex-basis 24%

    display flex
    flex-direction column

    .chat
      height 60vh
      mat-card-content
        height 80%
        overflow-y auto

        div
          margin-bottom 10px

      mat-form-field
        width 100%
