<div class="dashboard_station">
  <div class="left">
    <mat-card>
      <mat-card-title>
        Vitals
      </mat-card-title>

      <mat-card-content>
        <div class="chart-container">
          <canvas id="canvas1" height="50">{{ chart }}</canvas>
        </div>
      </mat-card-content>

    </mat-card>
    <mat-card>
      <mat-card-title>
        Weather
      </mat-card-title>
      <canvas id="canvas2" height="50">{{ chart }}</canvas>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Objects
      </mat-card-title>
    </mat-card>
  </div>
  <div class="right">
    <mat-card>Infos</mat-card>
    <mat-card class="chat">
      <mat-card-title>
        Chat
      </mat-card-title>

      <mat-card-content id="chat_messages">
        <div class="message" *ngFor="let message of messages">
          <h4>From : {{message.sender}}</h4>
          <p>From : {{message.text}}</p>
        </div>
      </mat-card-content>


      <mat-form-field>
        <textarea matInput [(ngModel)]="message.text" (keypress)="chatAreaKeyPress($event)"></textarea>
      </mat-form-field>






    </mat-card>
  </div>
</div>

